<html>
<head>
    <title>El Mundo de Harry Potter</title>
    <link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
</head>

<body style="margin: 0; 
             height: 100vh; 
             background-image: url('https://wallpaperaccess.com/full/891225.jpg'); 
             background-size: cover; 
             background-position: center; 
             background-repeat: no-repeat;
             font-family: 'Delicious Handrawn', cursive;
             color: white;
             text-align: center;
             padding-top: 20px;">

    <div style="padding: 7px 7px; 
                border-radius: 5px; 
                font-size: 32px;
                font-family: 'Delicious Handrawn', cursive;">
        <h1><a href="/" style="color: white; text-decoration: none;">Harry Potter</a></h1>
    </div>

   <div style="max-width: 600px; 
   margin: 0 auto; 
   font-size: 18px; 
   text-align: left;">

        {% for publicacion in publicaciones %} 
            <p style="font-family: 'Inconsolata', Black 900;margin-bottom: 3px; margin-top: 0;">
                Publicado: {{ introduccion.fecha_publicacion }} por autor/a: {{ introduccion.autor.username }} 
            </p>

            <h2 style="font-family: 'Delicious Handrawn', cursive;margin-top: 0; margin-bottom: 10px;">
                <a href="" style="color: white; text-decoration: none;">{{ introduccion.titulo }}</a>
            </h2>
            
            <p style="font-family: 'Inconsolata', Black 900;">
                {{ introduccion.texto|linebreaksbr }}
            </p>

            <hr style="border-color: white;">
        
        
            <p style="font-family: 'Inconsolata', Black 900;margin-bottom: 3px; margin-top: 0;">
                Publicado: {{ saga_de_libros.fecha_publicacion }} por autor/a: {{ saga_de_libros.autor.username }} 
            </p>

            <h2 style="font-family: 'Delicious Handrawn', cursive;margin-top: 0; margin-bottom: 10px;">
                <a href="" style="color: white; text-decoration: none;">{{ saga_de_libros.titulo }}</a>
            </h2>

            <img src="https://e1.pxfuel.com/desktop-wallpaper/706/659/desktop-wallpaper-more-beautiful-j-k-rowling-j-k-rowling.jpg" 
            alt="Jk - Roaling" 
            style="width: 30%; max-width: 500px; border-radius: 30px; margin-top: 10px;">
            
            <p style="font-family: 'Inconsolata', Black 900;">
                {{ saga_de_libros.texto|linebreaksbr }}
            </p>

            <hr style="border-color: white;">
        {% endfor %}
    </div>
</body>
</html>
