h1 { 
    color: #4059e8; 
    font-size: 36pt; 
    font-family: 'Birthstone', cursive; 
    text-align: center;
}
h2{ 
    color: #000000; 
    font-family: 'Poiret One', sans-serif;
    text-align: center;

}
body { 
    padding-left: 15px;
    background-color: yellow;
}
