.titulo-banderas h1{ 
    color: #000000; 
    font-size: 36pt; 
    font-family: 'Birthstone', cursive; 
    text-align: center;
    margin: 0;
}

img {
  width: 150px;
  height: auto;
  text-align: center;
}

.informacion{
  color: #000000; 
  font-size: 10pt; 
  font-family: 'Poiret One', sans-serif;
  text-align: justify;
}

.titulo-banderas {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.bandera {
  width: 70px;
  height: auto;
  border-radius: 8px;
}

.tres-columnas {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* tres columnas iguales */
  gap: 30px;
  padding: 40px;
  text-align: justify;
}

.columna {
  background-color: #ffffff; 
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font-family: 'Inter', sans-serif;
}

.columna h3 {
  color: #76371a;
  font-family: 'Birthstone', cursive; 
  font-size: 20pt;
  margin-bottom: 10px;
  text-align: center;
}

.diferentes-campos{
  line-height: 0.9;
}

.imagenes-turismo {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* tres columnas iguales */
  gap: 30px;
  padding: 40px;
  text-align: center;
  
}

.lug{
  width: 300px;
  height: auto;
  border-radius: 8px;
}

.informacion h4{
  font-family: 'Birthstone', cursive;
  font-size: 20pt;
  background-color: #76371a;
}



